<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://joinusapiv3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>joinusapiv3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JoinUsAPIv3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JoinUsAPIv3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-JoinUsAPIv3-20170513015906.mdf;Initial Catalog=aspnet-JoinUsAPIv3-20170513015906;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-JoinUsAPIv3-20170513015906.mdf;Initial Catalog=aspnet-JoinUsAPIv3-20170513015906;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="JoinUsAPIv3Context" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|JoinUsAPIv3Context-20170513145236.mdf;Initial Catalog=JoinUsAPIv3Context-20170513145236;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JoinUsAPIv3Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=JoinUsAPIv3Context-20170513145236; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|JoinUsAPIv3Context-20170513145236.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebApp" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="JoinUsAPIv3.Models.JoinUsAPIv3Context, JoinUsAPIv3" MigrationConfiguration="JoinUsAPIv3.Migrations.Configuration, JoinUsAPIv3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebApp-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JoinUsAPIv3Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webapplication120161030053921dbserver.database.windows.net,1433;Initial Catalog=BDJoinUs;Persist Security Info=False;User ID=Yenju@webapplication120161030053921dbserver;Password=PALLmall42;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>